nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: rgb(0, 97, 0);
    background-color: rgb(156, 255, 156);
    font-weight: bold;
}

body {
    background-color: rgb(24, 24, 24);
    color: rgb(0, 190, 0);
}

footer{
    vertical-align: bottom;
    background-color: rgb(0, 190, 0);
    color: rgb(24, 24, 24);
    text-align: center;
    position: fixed;
    
}
/*320x180px*/
#evszakok{
    
    display: block;
    transition: transform .2s;
    float: left;
    margin: 5px
}
#evszakok:hover{
    transform: scale(1.25);
    
    border-collapse: collapse;
    border-radius: 4px;
    box-shadow: 0 0 50px rgba(0, 252, 185, 0.5)
}

.divimage {
    width: 320px;
    height: 180px;
    
    border: rgba(0, 252, 185, 0.5) solid 3px;
}
    

.divszoveg{
    text-align: center;
    font-size: larger;
}


